<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/headerStyle.css" />
</head>

<body>
    <div class="header-bar">
        <img class="header-img" src="icons/logo.png" />
        <label> Welcome to my resume website! </label>
        <div class="header-buttons">
            <button class="header-button" id="about-button"> <label> About </label> </button>
            <button class="header-button" id="contactme-button"> <label> Contact me </label> </button>
            <button class="header-button" id="language-button"><label>IT / EN</label></button>
        </div>
    </div>
</body>

</html>